<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<th:block th:include="fragments/head"></th:block>

<body>

	<th:block th:include="fragments/navbar"></th:block>

	<div class="container py-3">

		<div class="jumbotron">
			<h1>Pagina de inicio</h1>
			<p>...</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn
					more</a>
			</p>
		</div>


	</div>


	<th:block th:include="fragments/scrips"></th:block>
	<th:block th:include="fragments/footer"></th:block>

</body>

</html>